{{#if updatePostForm}}
  <h3> Update {{post.username}}'s Post</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        {{input class="form-control" value=username id="username"}}
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        {{input class="form-control" value=title id="title"}}
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        {{input class="form-control" value=body id="body"}}
      </div>
      <button {{action 'update' post}}>Save updated info</button>
    </form>
  </div>
  {{else}}
    <button class="btn btn-primary" {{action 'updatePostForm'}}>Update</button>
  {{/if}}
